* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  background-color: beige;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.navbar,
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  gap: 50px;
}

.navbar__link {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  letter-spacing: 0.923077px;
  text-transform: uppercase;

  color: #83888f;

  transition: all 0.3s linear;
}

.navbar__link:hover {
  color: #28292a;
}

.intro {
  margin-top: 50px;
  height: 500px;
  background-image: url("../images/bitmap.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}

.intro__title {
  width: 550px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* or 100% */

  color: #fefcf7;
}

.intro__text {
  width: 450px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 20px 0;
  /* or 162% */

  color: #fefcf7;

  mix-blend-mode: normal;
  opacity: 0.8;
}

.intro__btn {
  /* Group 3 */

  width: 217px;
  height: 56px;

  background: #66d2cf;
  border-radius: 6px;

  font-family: "Fraunces ";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */
  text-align: center;
  border: none;
  color: #fefcf7;
}


.collections__image